@import "./font.css";
@import "./layout.css";
@import "./component.css";
@import "./bunny.css";
@import "./typora.css";

/*
#dock-networx > img,
#root > div > div.spotlight > div:nth-child(2) > div.flex-1.vstack > div.w-4\/5.h-56 > img,
#spotlight-networx > div.w-8.flex-center > img{
  border-radius:.7rem;
}
*/
input, textarea, select {
  font-size: 16px; /* prevents mobile zoom on focus */
  -webkit-text-size-adjust: 100%;
}
