* {
  @apply m-0 p-0;
}

html, body, #root {
  @apply h-full overflow-hidden;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  position:static;
  width:100vw;
  height:100vh;
  overflow:hidden;
}
#app, canvas {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}
.login-input {
  font-size: 16px; /* important */
  outline: none;
  border: none;
  width: 100%;
}
/* Prevent user zoom */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: manipulation;
}

/* Critical: Disable browser zoom on mobile input focus */
input,
select,
textarea {
  font-size: 16px !important; /* mobile browsers won't zoom if >= 16px */
}
