* {
  @apply m-0 p-0;
}

html, body, #root {
  @apply h-full overflow-hidden;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  position:static;
  width:100vw;
  height:100vh;
  overflow:hidden;
}
#app, canvas {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}
